<h1>New User</h1>

<% form_with model: Comment.new do |f|%>

  <div class="field mb-3">
    <%= f.label :description, { class: "form-label"}%>
    <%= f.text_area :description,  { class: "form-control"} %>
  </div>

<%end%>
