<h2>Following</h2>
<ul>
   <% @followers.each do |follower|%>
    <li>
      <%=h follower.user_name %>
    </li>
  <% end %>
</ul>

<h2>Followers</h2>
<ul>
   <% @my_followers.each do |my_follower|%>
    <li>
      <%= find_user(my_follower.user_id).user_name %>
    </li>
  <% end %>
</ul>
