
<div class="loader-wrapper">
<span class="loader"><span class="loader-inner"></span></span>
</div>
<div class="main">
    <div>
      <%= image_tag current_user.avatar , width: "200px" , class: "rounded"%>
    </div>

</div>
