
<div  class=" img-fluid img-thumbnail rounded mx-auto d-block w-50  border bg-light">
        <% @stories.each do |story|%>
        <%=  image_tag story.image, width: "350px"%>
        <%end%>
        <%= paginate @stories %>
</div>

