<div class="img-fluid img-thumbnail border bg-dark">
   <% @posts.each do |post|%>
      <%# <%= link_to "#{post.id}", post_path(post.id) %>
      <% post.images.each do |image|%>
       <%= image_tag image , width: "300px"%>
      <% end %>
   <%end%>
</div>
