
<div class="container">
    <div class="carousel slide " id="my-slider" data-ride="carousel">
      <div class="carousel-inner">
        <%# <% @post.images.count.times do %>
          <% @post.images.each_with_index do |image,counter|%>
             <% if counter==0%>
                <div class="carousel-item active " id="first-one">
                <%= image_tag image , width: "500px"%>
                </div>
                <%else%>
                <div class="carousel-item ">
                <%= image_tag image , width: "500px"%>
                </div>
              <% end %>
             <%end%>
       </div>
          <a class="carousel-control-prev" href="#my-slider" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#my-slider" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        <h4 class="mb-0">Add A Comment:</h4>
    </div>
    <div class="card-body">
        <%# NOTE COMMENT STEP 3: Load the comment form. %>
        <%= render "comments/form" %>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header">
        <h4>Comments:</h4>
    </div>
    <%# NOTE COMMENT STEP 3: Wrap the comments in `<div id="comments">` so that you can select the wrapper when using javascript in `app/views/comments/create.js.erb`. %>
    <div id="comments" class="card-body">
        <%= render @post.comments %>
    </div>
</div>
