
@import "bootstrap";
$carousel-control-color: black;

.navbar-brand
{
  font-size: larger;
  font-family:cursive;
  color: black;
}
.logout
{
  margin-left: 50%;

}
.username
{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-size: large;
}
